name: Docker build

on:
  push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: Build image and publish
        uses: elgohr/Publish-Docker-Github-Action@2.11
        with:
          name: kamko/echoer
          username: ${{ secrets.DOCKER_HUB_NAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
          snapshot: true
